.wrapper{
    width: 1100px;
    margin: 100px auto;
}

.inner{
    width: 500px;
    float: left;
    margin-right: 20px;
}

.panel{
    margin-bottom: 20px;
}

body{
    background-color: #ccc;
}

.panel select{
    font-size: 20px;
    padding: 5px;
}

.calendar{
    width: 100%;
    height: 500px;
    background-color: #fff;
}

table{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: center;
    font-size: 22px;
}

table tr:first-child{
    font-weight: bold;
    background-color: #b1c9ff;
}

table th, table td{
    padding: 10px;
}

table td:hover{
    cursor: pointer;
}

table td.current{
    color: blue;
    border: 1px solid blue;
}
.events{
    min-height: 500px;
    background-color: #fff;
    margin-top: 55px;
}

