.wrapper{
    width: 500px;
    margin: 100px auto;
}

.panel{
    margin-bottom: 20px;
}

.panel select{
    font-size: 20px;
}

.calendar{
    width: 100%;
    height: 500px;
    background: #cccccc;

}

table{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: center;
    font-size: 22px;
}

table th, table td{
    padding: 10px;
}

table td a{
    color: #000;
    text-decoration: none;
}

table td a.current{
    color: blue;
}

